@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 0.1em;
}

::-webkit-scrollbar-thumb {
  background: none;
}

body {
  background: #ffd979;
}

.yellow {
  background-color: #e3b02b;
}

.grey {
  background-color: #dddddd;
}

.greyl {
  background-color: #b4b3b3;
}

.yellowtext {

  color: #E3B02B;
}